In [34]:
import pandas as pd 
import matplotlib.pyplot as plt
df=pd.read_csv(r"D:\Data Sets\sales_data.csv")

In [35]:
df.head()

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

In [3]:
df.describe()

             price    quantity      revenue
count   367.000000  368.000000   368.000000
mean    211.226158   14.565217  2060.679348
std     227.335170    8.595740  1910.930790
min      20.000000    3.000000   300.000000
25%      50.000000    8.000000   800.000000
50%     100.000000   12.000000  1200.000000
75%     300.000000   20.000000  2400.000000
max    1200.000000   50.000000  7200.000000

In [4]:
df.shape

(369, 6)

In [5]:
df.isnull().sum()
df=df.dropna()
df

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[365 rows x 6 columns]

In [6]:
df.shape

(365, 6)

In [7]:
df.duplicated().sum()

1

In [8]:
df=df.drop_duplicates()
df

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[364 rows x 6 columns]

In [9]:
df.dtypes

date         object
product      object
category     object
price       float64
quantity    float64
revenue     float64
dtype: object

In [10]:
df['date']=pd.to_datetime(df['date'])

C:\Users\mahmo\AppData\Local\Temp\ipykernel_23160\1213281828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date']=pd.to_datetime(df['date'])

In [11]:
##What was the total revenue generated by the company over the course of the year?##
df=df['revenue'].sum()
print('the revenue over year is :',df)

the revenue over year is : 747230.0

In [31]:
##Which product had the highest revenue? How much revenue did it generate?##
df=df.groupby(['product'])['revenue'].sum().sort_values( ascending=False).head()

print('products had the highest revenue',df)

products had the highest revenue product
Smartphone    434400.0
Smartwatch     58800.0
Speaker        39680.0
Coat           33800.0
Watch          32700.0
Name: revenue, dtype: float64

In [36]:
##Which category had the highest revenue##
df=df.groupby(['category'])['revenue'].sum().sort_values( ascending=False).head()
print('Category had the highest revenue',df)

Category had the highest revenue category
Electronics    516080.0
Accessories    104700.0
Clothing        94350.0
Shoes           20640.0
Bags            19500.0
Name: revenue, dtype: float64

In [ ]:
df1=df['price'].mean()
print("the average price is: ",df1)
df2=df['quantity'].sum()
print('the total quantity of products sold',df2)
df3=df['revenue'].mean()
print("The revenue per sale is : ",df3)

the average price is:  211.22615803814713
the total quantity of products sold 5360.0
The revenue per sale is :  2060.679347826087

In [ ]:
df['Quarters'] = pd.PeriodIndex(df['date'], freq='Q')

In [ ]:
revenue=df.groupby(['Quarters'])['revenue'].sum()
print('the revenue by quarters: ',revenue)

the revenue by quarters:  Quarters
2022Q1    182100.0
2022Q2    183970.0
2022Q3    197680.0
2022Q4    194580.0
Freq: Q-DEC, Name: revenue, dtype: float64